<ion-header>
  <ion-toolbar >
    <a href="/home"><ion-icon name="caret-back-outline" class="toolbar"></ion-icon></a>
    <!-- <ion-title>connexion</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="titre">Inscription</h1>

 
  <form [formGroup]="form" (submit)="onSubmit()" class="loginForm">
    <ion-item>
      <ion-label>Emails : </ion-label>
      <ion-input type="text" required formControlName="emails">   </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pseudo : </ion-label>
      <ion-input type="text" required formControlName="username">   </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mot de passe : </ion-label>
      <ion-input type="password" required formControlName="password">   </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirmer mot de passe : </ion-label>
      <ion-input type="password" required formControlName="passwordRepeat">   </ion-input>
    </ion-item>

    <ion-button type="submit" class="myButton" expend="bloc" [disabled]="form.invalid">
      inscription
    </ion-button>
  </form>

  <div class="message">
    <p>{{message}}</p>
  </div>
</ion-content>
<ion-footer>
  
</ion-footer>
