<ion-header>
  <ion-toolbar >
    <a href="/home"><ion-icon name="caret-back-outline" class="toolbar"></ion-icon></a>
    <!-- <ion-title>connexion</ion-title> -->
  </ion-toolbar>
</ion-header>
<header>
  <h1>Inscription</h1>
</header>
<main> 
  <form action="#" method="post" class="loginForm">
    <input type="text" name="login" id="login" class="loginBox" placeholder="login"><br>
    <input type="text" name="emails" id="emails" class="loginBox" placeholder="emails"><br>
    <input type="password" name="password" class="loginBox" id="password" placeholder="password"><br>
    <input type="password" name="password" class="loginBox" id="password" placeholder="confirme password"><br>
    <label  class="CGU"><input type="checkbox" name="CGU" id="CGU">Condition générale</label><br>
    <input type="submit" value="Inscription" class="myButton">
  </form>
</main>
<ion-content>

</ion-content>
