<ion-header>
  <ion-toolbar>
    <ion-title>indexConnect</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content> 
    <ion-card *ngFor="let test of data">
      <form  [formGroup]="form" (submit)="goArticle()">
          <p class="titre">{{test.nameVille}}</p>
          <!-- [(ngModel)]='username' -->
            <ion-input formControlName="id_article" ></ion-input>
            <button ion-button type="submit">
              <img src="https://picsum.photos/200" alt="{{test.nameVille}" class="img">
            </button>
        </form>
    </ion-card>
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-buttons end>
      <button ion-button (click)="index()">
        <ion-icon name="list" class="iconList"></ion-icon> 
      </button>
    </ion-buttons>  
    <ion-icon name="add-circle"></ion-icon>
    <ion-icon name="settings"></ion-icon>
  </div>
</ion-footer>
