
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Mon site index</title>
    <meta name="description" content="MyWebSite">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="M comme Macdo">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="app/app.module.js"></script> 
    <script src="app/app.config.js"></script> 

    </head>
<body>

    <header class="menu" role="header" ng-controller="header">
        <div class="inner">
            <div class="m-left">
                <h1 class="title"><a href="#">{{logo.name}}</a></h1>
            </div>
            <div class="m-right">
                <nav>
                    <div class="link">
                        <p>Menu</p>
                        <ul class="menuDer" >
                            <li ng-repeat="menus in menu"><a href="#!/{{menus.link}}">{{menus.menu}}</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div ng-view></div>
    </main>

    <footer>
        <div ng-controller="footer">
            <div class="container-footer">
                
                <div class="foootersBlock" ng-repeat="Footer in footer">
                    <p>{{Footer.title}}</p>
                    <!-- Je n'arrive pas à changer ce comportement, il repprendre le Footer à 0 -->
                    <ul>
                        <li ng-repeat="Footer in footer">
                            {{Footer.dn}}
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>