   <ion-header>

    <ion-toolbar >
      <ion-item>
      <a href="/home"><ion-icon name="caret-back-outline" class="toolbar"></ion-icon></a>

      </ion-item>
      <!-- <ion-title>connexion</ion-title> -->
    </ion-toolbar>
  </ion-header>
 <ion-content>

  <h1 class="titre">Connexion</h1>
    <form [formGroup]="form" (submit)="onSubmit()" class="loginForm">
      <ion-item>
        <ion-label>Pseudo : </ion-label>
        <ion-input type="text" required formControlName="username">   </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Mot de passe : </ion-label>
        <ion-input type="password" required formControlName="password">   </ion-input>
      </ion-item>
      <ion-button type="submit" class="myButton" expend="bloc" [disabled]="form.invalid">
        Connexion
      </ion-button>
    </form>
    <div class="message">
      <p>{{message}}</p>
    </div>
    <div class="options">
      <p><a href="#" class="option">Mot de passe oublié ?</a></p>
      <p><a href="/inscription" class="option">Inscription.</a></p>
    </div>
</ion-content>
<ion-footer>
  <p style="text-align: center;color: white;">hello wold</p>
</ion-footer>
