
header{
    text-align: center;
    color: white;
}
.loginForm{
    display: table;
    text-align: center;
    align-items: center;
    // margin/: 20px; 
    // background-color: red;
    width: 100%;
       
}
.loginBox{
    color: black;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    margin: 2%;
    vertical-align: middle;
    padding: 3%;
    border-radius: 7px;
}
.myButton{

    margin: 15px;
}
.options{
    text-align: center; 

}
.option{
    text-decoration: none;
    color: rgb(248, 248, 248);
    padding: 10px;
    // padding: 100px;
    // background-color: rgb(0, 0, 0);
    border-radius: 6px;
    // margin: 500px;
}
.option:hover{
    color:rgb(138, 138, 138);
}
.titre{
    text-align: center;
}
.message  {
    text-align: center;
}
